<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/" method="post">
    <div>
        <marquee><h1>CÔ CHANG ĐẸP GÁI !!!</h1></marquee>
      <h2>CONTENT</h2>
      <textarea id="fromContent" name="fromContent" autofocus rows="30"><%= fromContent %></textarea>
    </div>
    <div>
      <h2>TRANSLATION</h2>
      <div class="selection">
        <label for="lang">CHOOSE A LANGUAGE:</label>
        <select name="lang" id="lang">
            <% Object.keys(languages).forEach(prop => { %>
                <% const selected = (prop === selectedOption) ? "selected" : ""; %>
                <option value="<%= prop%>" <%= selected%>><%= languages[prop]%></option>
            <% }); %>
          </select>
      </div>
      <div>
        <textarea id="toContent" name="toContent" rows="30"><%= toContent %></textarea>
      </div>
    </div>
    <input type="submit" id="translate" name="translate" value="TRANSLATE">
  </form>
  </body>
</html>
